div.single-chat-display div.single-message {
  margin: 10px;
}

div.single-chat-display div.chat-messages {
  position: relative;
  
}

div.single-chat-display div.chat-messages > div.spinner-border {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: calc(50% - 2rem);
  left: calc(50% - 2rem);
  color: #fff;
}

div.single-chat-display div.message-user-avatar img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

div.single-message.my-message > div.message-wrapper {
  flex-direction: column;
}

div.single-message > div.message-wrapper div.message-user-avatar { 
  margin-right: auto;
  padding-right: 10px;
}

div.single-message.my-message > div.message-wrapper div.message-user-avatar {
  margin-left: auto;
  padding-left: 10px;
  margin-right: 0;
  padding-right: 0;
}

div.no-messages-found {
  width: 100%;
  margin: auto;
  font-size: 20px;
  color: #fff;
}

div.main-chat-messages-wrapper span.chat-user-is-typing {
  position: absolute;
  color: #fff;
  padding: 15px 0;
  bottom: 0;
  left: 15px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  animation: fadeInKeyFrame .2s forwards linear;
  text-align: left;
}
@keyframes fadeInKeyFrame {
  100% { opacity: .8 }
}


img.chat-message-image {
  max-width: 250px;
}