.dashboard-wrapper {
  flex: 1;
  display: flex;
  overflow: hidden; /* To hide horizontal scroll at screen transitions */
}
.dashboard-wrapper > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}
.dashboard-wrapper > div > div#game-page-container.container-fluid {
  display: flex;
  flex: 1;
}