
div.chat-sidebar {
  /* width: 65px; */
  transition: width 400ms;
  /* max-width: 20%; */
  max-width: 90%;
  position: relative!important;
  /* overflow: hidden; */
  display: flex;
}

div.chat-sidebar-border {
  width: 5px;
  height: 100%;
  background: rgba(52, 58, 64, .75);
  cursor: pointer;
  margin-left: auto;
}

div.chats-list-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
/* div.chat-sidebar:hover {
  width: 20%!important;
} */

div.chat-sidebar.chat-sidebar-isOpen {
  /* width: 20%!important; */
}

div.chat-sidebar.chat-sidebar-isOpen button.toggle-chat-sidebar-btn svg {
  transform: rotate(180deg);
}

a.single-chat {
  position: relative!important;
}

div.unread-messages-count {
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 20px;
  height: 20px;
  background: #30b3c1;
  color: #fff;
  line-height: 1;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

div.chat-sidebar button.toggle-chat-sidebar-btn {
  position: absolute;
  z-index: 2;
  top: calc(50% - 16px);
  right: -15px;
  line-height: 1;
  background-color: rgba(108,117,125,.5);
  border: none;
  transition: all .25s;
  border-radius: 50%;
  padding: 7px;
}
div.chat-sidebar button.toggle-chat-sidebar-btn:hover {
  background-color: rgba(108,117,125,1);
}
div.chat-sidebar button.toggle-chat-sidebar-btn svg {
  transition: transform .5s;
}




/* Scroll area */
.all-chats-list.chat-sidebar .chats-list-wrapper::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
}
.all-chats-list.chat-sidebar .chats-list-wrapper::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}
.all-chats-list.chat-sidebar .chats-list-wrapper::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.25);
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 10px;
  transition: all .25s;
}
.all-chats-list.chat-sidebar .chats-list-wrapper::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,.35);
}