div.chats-loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.chats-loading-container > div.chats-loading-spinners {
  position: absolute;
  top: 40%;
}
div.chats-loading-container > div.chats-loading-spinners > h1 {
  margin-bottom: 15px;
  display: flex;
}

div.chats-loading-container > div.chats-loading-spinners > div.spinner-border{
  width: 3rem;
  height: 3rem;
}

div.single-chat-display > div.select-chat-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
  background-size: 100% 100%!important;
  background-position: center!important;
  background-repeat: no-repeat!important;
  text-shadow: 0px 0px 3px #000;
}

div.chats-container.container-fluid {
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1;
  height: 100%;
  max-height: 100%;
  /* border-radius: 3px;
  border: 1px solid #343a40; */
}

div.single-chat-last-message {
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: rgba(0,0,0,.25)
}

div.single-chat-user-data {
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

div.all-chats-list a.single-chat {
  display: flex;
  /* flex-direction: column; */
  color: #343a40;
  padding: 10px;
  border-bottom: 1px solid rgba(52, 58, 64, .1);
  transition: all .25s;
  cursor: pointer;
}

div.all-chats-list div.single-chat-textfields {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

div.all-chats-list a.single-chat:first-child {
  border-top: 1px solid rgba(52, 58, 64, .1);
}

div.all-chats-list a.single-chat.active {
  background: rgba(52, 58, 64, .1);
}

div.all-chats-list a.single-chat:hover {
  background: rgba(52, 58, 64, .15);
  text-decoration: none;
}


div.single-chat-display {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-left: 1px solid rgba(52, 58, 64, .1);
  overflow: hidden;
}
div.single-chat-display > div.input-group > input {
  border-radius: 0!important;
}
div.single-chat-display > div.input-group > div.input-group-append > button {
  border-radius: 0!important;
}


