nav.navbar a {
  color: #fff;
}
nav.navbar a.dropdown-toggle::after {
  vertical-align: middle;
  margin-left: .55rem;
}
nav.navbar a.dropdown-link {
  color: #212529;
}
nav.navbar button.dropdown-item:active {
  background-color: transparent;
}