canvas.gameCanvas {
  border-right: 1px solid rgba(0, 0, 0, .4);
}
canvas.gameCanvas:hover {
  cursor: none;
}
canvas.gameCanvas.drawerCanvas:hover {
  cursor: auto;
}
button.canvas-clear-button {
  position: absolute;
  bottom: 25px;
  right: 25px;
  color: #007bff;
  border-color: #007bff;
}
button.canvas-clear-button:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
button.canvas-clear-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(255,255,255, .5);
}

div.game-card.drawing-card > div.word-to-guess-alert {
  position: absolute;
  left: 15px;
  top: 15px;
}
div.game-card.drawing-card > div.word-to-guess-alert > span {
  font-weight: bold;
}

div.game-card.drawing-card > div.sketch-picker {
  position: absolute;
  bottom: 15px;
  left: 15px;
}