.add-new-chat-modal {

  .user-select {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .user-select-spinner {
      margin: 0 auto;
    }
  }

  .add-chat-modal-footer {
    display: flex;
    flex-direction: column;

    .form-button-wrapper {
      display: flex;
      justify-content: flex-end;
      
      button {
        min-width: 93px;
        margin-left: 10px;
      }
    }
  }

  .add-chat-errors-wrapper {
    margin-bottom: 10px;
    
    .add-chat-error {
      padding: 0!important;
      &:last-of-type {
        margin-bottom: 5px!important;
      }
    }
  }

}